In [2]:
import pandas as pd 
import numpy as np
data = pd.read_csv('training_data.csv', sep=",")
data.head()

   Month #  White Player #  Black Player #  Score
0        1              73            1246    0.5
1        1              73            5097    0.5
2        1              73            5104    0.5
3        1              73            7321    1.0
4        1              73            7375    0.5